<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/number.css') }}">
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <h1>Guess My Number</h1>
            <p>Guess a number between 1 and 100</p>
            {% if session.answer == 'higher' : %}
                <p id="high">TOO HIGH</p>
            {% elif session.answer == 'lower': %}
                <p id="low">TOO LOW</p>
            {% elif session.answer == 'correct': %}
                <p id="win">WINNER<br>
                <form action='/reset' method='post'>
                    <input type="submit" value="replay">
                </form></p>
                {% endif %}
            <form action="/random" method="post">
                <input type="text" id="guess_text" name='guess'><br>
                <input type="submit" value="Goodluck"><br>
                
            </form>
        </div>
        
    </div>
</body>
</html>